/**
 * Calendars ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.cal--full {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    .day {
        height: 100%;
        line-height: 1.1;

        &:hover {
            .day-inner {
                background: rgba(255,255,0,0.3);
                border-width: 1px 0 0 1px;
                z-index: 10;
            }
        }
    }
    .week {
        left: 0;
        position: absolute;
        top: 0;
    }

    &[data-cal-rows="4"] .month__week { min-height: calc(100% / 4); }
    &[data-cal-rows="5"] .month__week { min-height: calc(100% / 5); }
    &[data-cal-rows="6"] .month__week { min-height: calc(100% / 6); }

    .date {
        left: 4px;
        pointer-events: none;
        position: absolute;
        top: 4px;
    }
}

// summary ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.cal--summary {
    .date {
        font-size: 11px;
        line-height: 25px;
        width: 100%;
    }

    .month {
        position: static;
    }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.month {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.day {
    align-items: stretch;
    box-sizing: border-box;
    float: left;
    list-style: none;
    position: relative;
    text-align: center;
    user-select: none;
    width: 14.2857%;
}

.cal__grid {
    display: flex;
    flex: 1;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
}

.cal__grid--month {
    overflow: hidden;
}

.cal-events {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.day-time-labels {
    box-sizing: border-box;
    flex: 0 1 auto;
    font-size: 12px;
    font-weight: bold;
    list-style: none;
    left: 0;
    padding: 0 5px;
    position: absolute;
    text-align: right;
    top: 0;
    width: 3rem;
}

.day-time-labels li {
    height: 20px;
    line-height: 20px;
}

.time:hover {
    background: rgba(255,255,0,0.3);
}

.time-link {
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: block;
    height: 20px;
    overflow: hidden;
    position: relative;
    user-select: none;
    width: 100%;
}

.time-link:nth-child(even) {
    border-top-style: dotted;
}

.week-days {
    box-sizing: border-box;
    flex: 1;
    min-height: 800px;
    left: 3rem;
    margin-left: -3rem;
    padding-left: 3rem;
    position: absolute;
    top: 0;
    width: 100%;
}

.month__week {
    display: block;
    position: relative;
    width: 100%;
}

.week {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.events {
    position: absolute;
    left: 0;
    top: 1.5rem;
    width: 100%;
    z-index: 2;

    .event {
        box-sizing: border-box;
        color: blue;
        font-size: 11px;
        display: block;
        left: 0;
        margin: 0 0 1px;
        overflow: hidden;
        padding: 0 5px;
        position: absolute;
        text-decoration: none;
        text-overflow: ellipsis;
        top: 0;
        user-select: none;
        white-space: nowrap;
        width: calc(100% / 7);
    }

    .event.is-fullday {
        background: blue;
        color: white;
    }
}

.event.start-1 {left: calc(100% / 7);}
.event.start-2 {left: calc(100% / 7 * 2);}
.event.start-3 {left: calc(100% / 7 * 3);}
.event.start-4 {left: calc(100% / 7 * 4);}
.event.start-5 {left: calc(100% / 7 * 5);}
.event.start-6 {left: calc(100% / 7 * 6);}

.week-days .day {
    background: #fff;
    height: 100%;
}

.day--title {
    margin: 0.5rem 0;
}

.day-inner {
    border: 1px solid #ccc;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.cal__labels {
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 1000;
}

.cal__labels--week {
    padding-left: 3rem;
    padding-right: 18px;
}



.day--title {
    font-size: 12px;
    padding: 0 5px;
}

.date {
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
}

.day__initial {
    display: none;
}

.summary .day__initial {
    display: block;
}
.summary .day__name {
    display: none;
}

.is-active {
    background: #fff;
}

.is-active .date {
    font-weight: bold;
}

.is-inactive {
    background: #eee;
    color: #888;
    font-weight: normal;
}

.is-today {
    background: #bbb !important;
}

.week-days .is-today {
    background: #eee !important;
}

.is-highlight {
    background: yellow !important;
}

.is-inactive.is-highlight {
    background: #eeee00 !important;
}

.is-today.is-highlight {
    background: #dddd00 !important;
}

.visuallyhidden {
    position: absolute;
     overflow: hidden;
     clip: rect(0 0 0 0);
     height: 1px; width: 1px;
     margin: -1px; padding: 0; border: 0;
}

.is-hidden {
    display: none;
}

.now {
    border-top: 2px solid red;
    height: 0;
    left: 0;
    margin-top: -1px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-indent: -9999px;
    width: 100%;
    z-index: 20;
}

.new-event {
    box-sizing: border-box;
    background: yellow;
    box-shadow: 0 0 14px rgba(0,0,0,0.17);
    height: 0;
    font-size: 12px;
    left: 1px;
    line-height: 20px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 99%;
    z-index: 15;
}