/**
 * Calendars ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

// cal elements ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.cal__controls {
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-content: space-between;

}

.cal__control,
.cal__title {
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1.2rem;
    margin: 0;
    padding: 0.5rem 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.cal__control {
    &:hover,
    &:focus {
        background-color: #eee;
        color: #000;
    }
}

.cal__title {
    flex: 1;
}

.cal__labels {
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 1000;
}
.cal__labels--week {
    padding-left: 3rem;
    padding-right: 18px;
}

.cal__grid {
    display: flex;
    flex: 1;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
}
.cal__grid--month {
    overflow: hidden;
}

// cal elements ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.month {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.month__week {
    display: block;
    position: relative;
    width: 100%;
}

.week {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.week-days {
    box-sizing: border-box;
    flex: 1;
    min-height: 800px;
    left: 3rem;
    margin-left: -3rem;
    padding-left: 3rem;
    position: absolute;
    top: 0;
    width: 100%;

    .day {
        background: #fff;
        height: 100%;
    }

    .day.is-today {
        background: #eee !important;
    }
}


.day {
    background: #eee;
    align-items: stretch;
    box-sizing: border-box;
    color: #888;
    float: left;
    font-weight: normal;
    list-style: none;
    position: relative;
    text-align: center;
    user-select: none;
    width: 14.2857%;

    &.is-active {
        color: #000;
        background: #fff;
        font-weight: bold;

        .day__date {
            font-weight: bold;
        }
    }

    &.is-today {
        background: #bbb !important;
    }

    &.is-highlight {
        background: #eeee00 !important;
    }

    &.is-active.is-highlight {
        background: yellow !important;
    }

    &.is-today.is-highlight {
        background: #dddd00 !important;
    }
}
.day--title {
    background: #fff;
    font-size: 12px;
    line-height: 1.2rem;
    margin: 0.5rem 0;
    padding: 0 5px;
}

.day__inner {
    border: 1px solid #ccc;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.day__date {
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
}

.day__initial {
    display: none;
}

.time-labels {
    box-sizing: border-box;
    flex: 0 1 auto;
    font-size: 12px;
    font-weight: bold;
    list-style: none;
    left: 0;
    padding: 0 5px;
    position: absolute;
    text-align: right;
    top: 0;
    width: 3rem;
}

.time-labels__row {
    height: 20px;
    line-height: 20px;
}

.time {
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: block;
    height: 20px;
    overflow: hidden;
    position: relative;
    user-select: none;
    width: 100%;

    &:hover {
        background: rgba(255,255,0,0.3);
    }

    &:nth-child(even) {
        border-top-style: dotted;
    }
}

.time-line {
    border-top: 2px solid red;
    height: 0;
    left: 0;
    margin-top: -1px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-indent: -9999px;
    width: 100%;
    z-index: 20;
}

// Full ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.cal--full {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    .day {
        height: 100%;

        &:hover {
            .day__inner {
                background: rgba(255,255,0,0.3);
                border-width: 1px 0 0 1px;
                z-index: 10;
            }
        }
    }
    .week {
        left: 0;
        position: absolute;
        top: 0;
    }

    &[data-cal-rows="4"] .month__week { min-height: calc(100% / 4); }
    &[data-cal-rows="5"] .month__week { min-height: calc(100% / 5); }
    &[data-cal-rows="6"] .month__week { min-height: calc(100% / 6); }

    .day__date {
        left: 4px;
        pointer-events: none;
        position: absolute;
        top: 4px;
    }
}

// summary ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.cal--summary {
    height: 25%;

    .day__date {
        font-size: 11px;
        line-height: 25px;
        width: 100%;
    }

    .month {
        position: static;
    }
}