/**
 * Events ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.events {
    position: absolute;
    left: 0;
    top: 1.5rem;
    width: 100%;
    z-index: 2;
}
.events--week {
    background: #fafafa;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    left: 3rem;
    min-height: 42px;
    overflow-y: scroll;
    position: relative;
    top: 0;
    width: calc(100% - 3rem);
    z-index: 5;

    .event[data-fullday="true"] {
        opacity: 0.5;
    }
}

.events__inner {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.event {
    box-sizing: border-box;
    color: blue;
    cursor: pointer;
    font-size: 11px;
    display: block;
    left: 2px;
    margin: 0 0 1px;
    padding: 2px 5px;
    position: absolute;
    text-decoration: none;
    top: 0;
    user-select: none;
    width: calc((100% / 7) - 3px);

    &[data-fullday="true"] {
        background: blue;
        color: white;
    }

    &[data-pos="1"] {left: calc((100% / 7) + 2px);}
    &[data-pos="2"] {left: calc((100% / 7 * 2) + 2px);}
    &[data-pos="3"] {left: calc((100% / 7 * 3) + 2px);}
    &[data-pos="4"] {left: calc((100% / 7 * 4) + 2px);}
    &[data-pos="5"] {left: calc((100% / 7 * 5) + 2px);}
    &[data-pos="6"] {left: calc((100% / 7 * 6) + 2px);}

    &[data-span="2"] {width: calc((100% / 7 * 2) - 3px);}
    &[data-span="3"] {width: calc((100% / 7 * 3) - 3px);}
    &[data-span="4"] {width: calc((100% / 7 * 4) - 3px);}
    &[data-span="5"] {width: calc((100% / 7 * 5) - 3px);}
    &[data-span="6"] {width: calc((100% / 7 * 6) - 3px);}
    &[data-span="7"] {width: calc((100% / 7 * 7) - 3px);}

    &[data-row="1"] {top: $eventRowHeight * 1;}
    &[data-row="2"] {top: $eventRowHeight * 2;}
    &[data-row="3"] {top: $eventRowHeight * 3;}
    &[data-row="4"] {top: $eventRowHeight * 4;}
    &[data-row="5"] {top: $eventRowHeight * 5;}
    &[data-row="6"] {top: $eventRowHeight * 6;}
    &[data-row="7"] {top: $eventRowHeight * 7;}
    &[data-row="8"] {top: $eventRowHeight * 8;}
    &[data-row="8"] {top: $eventRowHeight * 9;}
    &[data-row="10"] {top: $eventRowHeight * 10;}

    &.event--single-line {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.week-events {
    @extend .week-days;
    margin-left: 0;
    padding: 0;
    pointer-events: none;
    width: calc(100% - 3rem);

    .event {
        background: #55c;
        color: #fff;
        height: auto;
        padding: 3px 5px;
        pointer-events: auto;
    }
}

.new-event {
    box-sizing: border-box;
    background: yellow;
    box-shadow: 0 0 14px rgba(0,0,0,0.17);
    height: 0;
    font-size: 12px;
    left: 1px;
    line-height: 20px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 99%;
    z-index: 15;
}
