/**
 * Icons ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.icon {
	background: blue;
	display: inline-block;
	height: 20px;
	position: relative;
	vertical-align: middle;
	width: 20px;
}