/**
 * Overlay ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.overlay {
    background: #FFF;
    display: none;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 0.25s;
    width: 100%;
    z-index: 1100;

    .is-overlay-active & {
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
        display: block;
        transform: translateX(0%);
    }

    .is-overlay-hidden & {
        transition-duration: 0.18s;
        display: block;
    }

    @include respond-min($tablet-narrow) {
        width: 60%;
    }

    @include respond-min($tablet-wide) {
        width: 40%;
    }
}