/**
 * Overlay ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.overlay {
    background: #FFF;
    display: none;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 100%;
    z-index: 1100;

    .is-overlay-active & {
        animation: showOverlay 0.3s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        display: block;
    }

    .is-overlay-hidden & {
        animation: hideOverlay 0.2s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        display: block;
    }

    @include respond-min($tablet-narrow) {
        width: 60%;
    }

    @include respond-min($tablet-wide) {
        width: 40%;
    }
}