/**
 * Overlay ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.popup {
    background: #FFF;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    box-sizing: border-box;
    display: none;
    left: 50%;
    min-height: 100px;
    padding: 22px 15px;
    pointer-events: none;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 1100;

    .popup__title {
        margin-top: 0;
    }

    .is-popup-active & {
        animation: showPopup 0.3s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        display: block;
        pointer-events: all;
    }

    .is-popup-hidden & {
        animation: hidePopup 0.2s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        display: block;
        pointer-events: none;
    }

    @include respond-min($tablet-narrow) {
        padding: 27px 20px;
        width: 60%;
    }

    @include respond-min($tablet-wide) {
        width: 30%;
    }
}

.popup__events {
    li:last-child {
        margin-bottom: 0;
    }
}

.popup__close {
    color: #000;
    border-radius: 20px;
    height: 24px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 24px;

    .icon {
        height: 24px;
        overflow: hidden;
        text-indent: -9999px;
        width: 24px;

        &:before {
            left: 0;
            position: absolute;
            text-indent: 0;
            top: 0;
        }
    }
}