/**
 * Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.summary {
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    height: 100%;
    max-width: 220px;
    min-width: 170px;
    width: 20%;

    .day__initial {
        display: block;
    }

    .day__name {
        display: none;
    }

    .cal__title {
        display: block;
    }

    @include respond-max($tablet-wide) {
        display: none;
    }

    @include respond-min($tablet-wide) {
        display: block;
    }
}
