/**
 * Variables ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

$mobile: 			300;
$tablet-narrow:  	480;
$tablet-wide:   	620;
$desktop-narrow: 	768;
$desktop-mid:   	1024;
$desktop-wide:  	1280;

$eventRowHeight:    18px;