html, body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

.grid {
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
}

.day {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    display: flex;
    float: left;
    min-height: calc(80vh / 6);
    list-style: none;
    text-align: center;
    align-items: stretch;
    width: calc(100% / 7);

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
 }

 .day-inner {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
 }

.day:hover {
    background-color: lightyellow;
}


 .is-range {
    background: #ddf;
 }

 .is-today {
    background: red;
    border: 1px solid black;
 }

 .is-highlight {
    background: yellow !important;
 }

 [data-cal-rows="4"] .day { min-height: calc(80vh / 4); }
 [data-cal-rows="5"] .day { min-height: calc(80vh / 5); }
 [data-cal-rows="6"] .day { min-height: calc(80vh / 6); }
