<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Calendar</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<ul id="container"></ul>

		<script type="text/template" id="block-template">
			<li class="block">
				<%= num %>: <%= weekday %>
			</li>
		</script>

		<script src="js/vendor/jquery.js"></script>
		<script src="js/vendor/underscore.js"></script>
		<script src="js/vendor/backbone.js"></script>
		<script src="js/vendor/backbone.localStorage.js"></script>

		<script src="js/models/model.js"></script>
		<script src="js/collections/collection.js"></script>
		<script src="js/views/view.js"></script>
		<script src="js/routers/router.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
