<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Calendar</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="container" id="app">
			<nav class="nav">
				<h1 class="title"></h1>
				<a class="prev" href="#">Previous month</a>
				<a class="next" href="#">Next month</a>
				<a class="home" href="#">Current</a>
			</nav>

			<aside class="sidebar">
				<ul id="grid-mini" class="grid grid__mini"></ul>
			</aside>

			<main class="content">
				<ul id="grid-max" class="grid grid__max"></ul>
			</main>
		</div>

		<script type="text/template" id="day-template">
			<div class="day-inner" data-ref="<%= id %>">
				<h3 class="date" id="date-<%= id %>"><span class="visuallyhidden"><%= weekday %></span> <%= day %><span class="visuallyhidden"><%= suffix %> <%= monthName %></span></h3>
				<%= events %>
			</div>
		</script>

		<script type="text/template" id="day-title-template">
			<h2><%= weekday %></h2>
		</script>

		<script src="js/vendor/jquery.js"></script>
		<script src="js/vendor/underscore.js"></script>
		<script src="js/vendor/backbone.js"></script>
		<script src="js/vendor/backbone.localStorage.js"></script>

		<script src="js/models/day.js"></script>
		<script src="js/collections/grid.js"></script>
		<script src="js/views/dayView.js"></script>
		<script src="js/views/appView.js"></script>
		<script src="js/routers/router.js"></script>
		<script src="js/cal.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
